body {
	margin : 0;
	padding : 0;
	background : #2E4057;
	color : #333;
	font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
	line-height: 20px;
	max-width: 200%;
}
#container {
width : 1200px;
margin-left : auto;
margin-right : auto;
padding : 0;

color: #696969;
    background:linear-gradient(to right, #ffffff, #abbaab); 
}

#iiestlogo{
float:left;
width : 150px;
height :190px;


background: #4b6c9e;
}

#springerlogo {
	float:left;
	width : 150px;
	height :190px;
	
background: #4b6c9e;
}
#uemlogo {
float:left;
margin-left: 15%;

background: #4b6c9e;
	}
	#iemlogo {
		
	float:left;
		margin-left: 56%;
		
		background: #4b6c9e;
			}
#caption{
position: absolute;
top:150px;
margin-left: 1050px;
font-family: "sans-serif";
font-size : 13px;
letter-spacing: 3px;
color : #fff;
width: 200px;
}

			/*TOP BANNER*/
#topimg {
float:left;
width : 900px;
height : 190px;
padding : 0;
margin : 0;
color : #333;
background: #4b6c9e;
/* url(img/topimg.jpg) no-repeat;*/
}
#topimg h1 {

text-align: center;
position: relative;
top: 10px;
left: 2px;
margin : auto;
margin-right: 60px;
margin-left: 60px;
font-size : 17px;
letter-spacing: 2.5px;
color : #fff;
background: #4b6c9e;
}
#topimg h2 {
text-align: center;
position: relative;
top: 20px;
left: 2px;
margin : auto;
margin-right: 60px;
margin-left: 60px;
font-size : 13px;
letter-spacing: 3px;
color : #fff;
background: #4b6c9e;
}
#topimg h3 {
text-align: center;
margin : auto;
margin-right: 60px;
margin-left: 60px;
position: relative;
top: 10px;
left: 2px;
margin-top: 10px;
margin-bottom: 0px; 
font-size : 13px;
letter-spacing: 3px;
color : #fff;
background: #4b6c9e;
}

/*TOP NAVIGATIONY*/
#navcontainer ul {
float : left;
width : 100%;
height: 100%;
position: relative;
font-size:medium;
font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
margin: 0px;
padding: 0px;
background-color:#51ACCC;

}
#navcontainer ul li {
display : inline;

    text-align:center;
    line-height:35px;
    float:left;
    position:relative;
}
#navcontainer ul li a {
float : left;
padding : 0.2em 1em;
text-decoration : none;

color:#fff;
display:block;
}
#navcontainer ul li a:hover {
	background-color:#38788E;
    	color:#fff;
}
			/*MAIN CONTENT*/
#content {
margin : 0  270px 0 220px;
padding : 5px;

}
#content a:link, #content a:visited {
text-decoration : underline;
background-color:#38788E;
	color:#fff;
}
#content a:hover {
	background-color:#38788E;
	color:#fff;
}



			/*SIDEBAR*/
#sidebarleft {
float : left;
width : 200px;
height: 750px;
margin : 0 10px 0 0;

padding : 5px;
background-color: #D1DDF1;
color : #333;
}
#sidebarright {
float : right;
width : 250px;
word-wrap : break-word;
margin : 0 0 0 10px;
padding : 5px;
background-color: #D1DDF1;
color : #333;
}




			/*SIDE MENU*/
.sidemenu ul {
list-style-type : none;
text-align : left;
}
.sidemenu ul li {
display : block;
color : #666;
background : inherit;
}
.sidemenu ul li a {
	background : transparent url(img/list-off.gif) no-repeat left center;
	padding-left : 15px;
	text-decoration : none;
	color : #000;
	font-size:medium;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
}
.sidemenu ul li a:hover {
background : transparent url(img/list-on.gif) no-repeat left center;
color : #666;
}
.sidemenu ul li a#current {
background : transparent url(img/list-active.gif) no-repeat left center;
color : #666;
}

#button
{
background-color: #1bb2e9;
border: none;
border-radius: 3px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;



width: 100px; 
height: 25px; 
-webkit-appearance:none
}
#button:hover
{background-color: #0079ce;
border: none;
border-radius: 0px 3px 3px 0px;
-moz-border-radius: 0px 3px 3px 0px;
-webkit-border-radius: 0px 3px 3px 0px;

}
#link
{color: #f4f4f4;
	text-decoration: none;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;

text-transform: uppercase;
}
			/*FOOTER*/
#footer {
clear : both;
padding : 5px;
height : 20px;
margin : 0;
font-size : 90%;
border-top : 1px solid #fff;
background: #4b6c9e;
color : #333;
}
#footer a:link, #footer a:visited {
text-decoration : none;
background : inherit;
color : #fff;
}
#footer a:hover {
border-bottom : 1px dashed #eee;
background: inherit;
color : #333;
}
			/*TYPOGRAPHY*/
p {
text-align: justify;
text-justify: inter-word;
line-height: 1.7em;
margin : 15px;
}
h1 {
	margin-top : 10px;
	padding : 0;
	font-size : 15px;
	text-transform : uppercase;
	letter-spacing: 3px;
	color : #2f2d2e;
	background : inherit;
	margin-left: 10px;
}
h4 {
margin-top : 10px;
padding : 0;
font-size : 120%;
text-transform : uppercase;
letter-spacing: 3px;
color : #2f2d2e;
}
h2 {
margin : 10px 0 0 5px;
padding-left : 10px;
font-size : 120%;
text-transform : uppercase;
letter-spacing : 5px;
color : #fff;
background: #4b6c9e;
}
			/*CLASSES*/
.img {
float : left;
padding : 10px;
border : none;
}
.img a {
border : none;
}
.post { 
background : #eee;
padding : 3px;
margin : 20px 10px 0 5px;
border : 0 dashed #8a795d;
font-size : 13px;
} 
.post .date { 
background : url(img/clock.gif) no-repeat left center;
padding-left : 15px;
margin : 0 15px 0 5px;
} 
.post .comments { 
background : url(img/comment.gif) no-repeat left center;
padding-left : 15px;
margin : 0 15px 0 5px;
} 
.post .readmore { 
background : url(img/document.gif) no-repeat left center;
padding-left : 15px;
margin : 0 15px 0 5px;
} 
blockquote {
font-weight : bold;
font-style : italic;
color : #b29b35;
}

table {
    border-collapse: collapse;
}


th,td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

tr:hover {background-color:#f5f5f5;}
