/*Menu formatting starts here*/
  .menu ul
  {
    height: 35px;
    margin:0px;
    padding:0px;
    font-size:medium;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
   
   }
  .menu ul li
   {
    width:105px;
    height:35px;
    text-align:center;
    line-height:35px;
    float:left;
    position:relative;
   
    }
    .menu ul li a
    {
     text-decoration:none;
     color:#fff;
     display:block;
    
    }
    .menu ul li a:hover
    {
    	background-color:#38788E;
    	color:#fff;
    }
    .menu ul ul
    {
     position:absolute;
     display:none;
   
    }
    .menu ul li > ul li
    {
    	background-color:#4089A3;
    	color:#fff;
    	border:solid:1px white;
    	width:100%;
    	
    }
    .menu ul li:hover > ul  
    {
    	display:block;
     }
   
    
  /*Table Formatting*/
        table
       { 
       border-collapse:collapse;
        }
        table td                    
        { padding:4px 8px;
          border:1px solid #e3e3e3;
       }
        table tr:nth-child(odd) 
        { 
            background-color: #D1DDF1;
       }
     
       /* Headings */
       h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
    color:blue;
}
    
   /*Page Formatting starts here*/ 
   body   
{
   
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    color: #696969;
    background:linear-gradient(to right, #ffffff, #abbaab); 
    

}
    
      div.right        /*for image*/
      {      	
    	float:right;     
       } 
 
     .Header        /*for master page*/
       {
    	position:absolute;
    	height:auto;
    	text-align:center;
        background-color:#51ACCC;
         left: 10px;
        right:10px;
}
.Heading
{      
        position: relative;
           margin: 0px;
          padding: 0px;
           background: #4b6c9e;
 }
.Heading h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}
.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

     .CentralPanel          /*for master page*/
        {
    	 position:relative;
    	 top:50px;
    	 width:auto;
         height:auto;
         background-color:White;
         }
         
      /*Logout Display*/
.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
    height: 50px;
   
}
       
         
   /* Tab formatting starts here*/
.CustomTabStyle .ajax__tab_header {
    font-family:verdana,tahoma,helvetica;
    font-size:11px;
    
}
.CustomTabStyle .ajax__tab_body {
   height:auto;
   width:auto;
}
/*Loading formatting starts here*/
div.center /*For Loading*/
{
    z-index:800;
    margin:80px auto;
    height:540px;
    width: 540px;
    background-color:White;
    border-radius: 10px;
    filter: alpha(opacity=100);
    opacity: 1;
    -moz-opacity: 1;
   
}
div.modal
{
    z-index:800;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    /*background-color: Black;*/
    background-color:#f5fcff;
    filter: alpha(opacity=60);
    opacity: 0.6;
    -moz-opacity: 0.8;
}

/*Confirm Message box pop-up formatting*/

 .modalBackground
    {
        background-color: #f5fcff;
        filter: alpha(opacity=60);
        opacity: 0.6;
    }
 .modalPopup .header
    {
        background-color: #2FBDF1;
        height: 30px;
        color: White;
        line-height: 30px;
        text-align: center;
        font-weight: bold;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }
     .modalPopup .body
    {
        min-height: 50px;
        line-height: 30px;
        text-align: center;
         text-align: center;
         background-color:White;
          font-size:medium;
        font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    }
     .modalPopup .footer
    {
        padding: 6px;
        text-align: center;
         background-color:White;
    }


.ModalButton
{
background-color: #1bb2e9;
border: none;
border-radius: 3px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
color: #f4f4f4;
cursor: pointer;
font-family: 'Open Sans', Arial, Helvetica, sans-serif;
height: 23px;
line-height: 23px;
text-transform: uppercase;
-webkit-appearance:none
}
.ModalButton:hover
{background-color: #0079ce;
border: none;
border-radius: 0px 3px 3px 0px;
-moz-border-radius: 0px 3px 3px 0px;
-webkit-border-radius: 0px 3px 3px 0px;
color: #f4f4f4;
cursor: pointer;
height: 23px;
line-height: 23px;
text-transform: uppercase;
}
/*Browse Dialog Box Modal Pop up*/
 .modalBrowseBackground
    {
        background-color: #f5fcff;
        filter: alpha(opacity=60);
        opacity: 0.6;
        
    }
 .modalBrowsePopup .header
    {
        background-color: #2FBDF1;
        height: 30px;
        color: White;
        line-height: 30px;
        text-align: center;
        font-weight: bold;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }
     .modalBrowsePopup .body
    {
         height:auto;
          width:auto;
         text-align: left;
          background-color:White;
          font-size:medium;
        font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
        
    }
     .modalBrowsePopup .footer
    {
        padding: 6px;
        text-align: center;
        background-color:White;
    }
    .modalBrowsePopup .cell
    {
        padding:10px;
    }
  
   
    /*validator Callout */
    .CustomValidatorCalloutStyle div, 
.CustomValidatorCalloutStyle td
 { 
    border:solid 1px blue; 
    background-color: #ADD8E6; 
    width:auto;
}
   
   /*calendar*/
  .cal_Theme1 .ajax__calendar_container   {
background-color: #DEF1F4;
border:solid 1px #77D5F7;

}

.cal_Theme1 .ajax__calendar_header  {
background-color: #ffffff;
margin-bottom: 4px;
background-color: #ffffff;
}

.cal_Theme1 .ajax__calendar_title,
.cal_Theme1 .ajax__calendar_next,
.cal_Theme1 .ajax__calendar_prev    {
color: #004080;
padding-top: 3px;
}

.cal_Theme1 .ajax__calendar_body    {

border: solid 1px #77D5F7;

}

.cal_Theme1 .ajax__calendar_dayname {
text-align:center;
font-weight:bold;
margin-bottom: 4px;
margin-top: 2px;
color: #004080;
background-color: #ffffff;
}

.cal_Theme1 .ajax__calendar_day {
color: #004080;
text-align:center;
background-color: #ffffff;
}

.cal_Theme1 .ajax__calendar_hover .ajax__calendar_day,
.cal_Theme1 .ajax__calendar_hover .ajax__calendar_month,
.cal_Theme1 .ajax__calendar_hover .ajax__calendar_year,
.cal_Theme1 .ajax__calendar_active  {
color: #004080;
font-weight: bold;
background-color: #DEF1F4;
}
.cal_Theme1 .ajax__calendar_today   {
font-weight:bold;
}

.cal_Theme1 .ajax__calendar_other,
.cal_Theme1 .ajax__calendar_hover .ajax__calendar_today,
.cal_Theme1 .ajax__calendar_hover .ajax__calendar_title {
color: #bbbbbb;
}
.cal_Theme1 .ajax__calendar_invalid .ajax__calendar_day
{
    color:red; 
   
}